<a href="https://colab.research.google.com/github/awannabecs/MY-FUNCTION-NAME/blob/main/PROJECT_1_TEXT_CLASSIFICATION_DEPRESSION_DETECTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import the libraries 
import numpy as  np
import pandas as pd 
import tensorflow as tf
import nltk 
import re
nltk.download("punkt")
tokenizer = nltk.word_tokenize
tokenizer("go out")
stemmer = nltk.PorterStemmer().stem
stemmer("played")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

'play'

In [3]:
#import the dataset
df = pd.read_csv("/content/drive/MyDrive/MAIN_DATA")
df.dropna(inplace=False)

,Unnamed: 0,Unnamed: 0.1,depressed,text
0,0,0.0,0.0,I know where you're coming from mate.
1,1,1.0,0.0,I felt like this last year.
2,2,2.0,1.0,"I remember around this time last year, i was h..."
3,3,3.0,1.0,"i was heavily addicted to meth, it was literal..."
4,4,4.0,0.0,"I worked like 70+hours in a warehouse job, 2 h..."
...,...,...,...,...
1790,178,1210.0,1.0,hate shattered me
1791,179,1212.0,1.0,but I know depression and drug addiction don'...
1792,180,1233.0,1.0,I feel a lot of deeply depressed souls have d...
1793,181,1234.0,1.0,anxiety and mental breakdowns...|0|0|0|
1794,182,1250.0,1.0,learn to deal w my anxiety

In [4]:
#create the word2number dictionary
tokens = []
for i in range(len(df)):
  words = []
  try:
    words.extend(tokenizer(df.iloc[i]["text"].lower()))
    for word in words:
      word = word
      tokens.append(stemmer(word))
  except Exception as e:
    print(df.iloc[i]["text"])

tokens = set(tokens)

nan
nan
nan
nan
nan

In [5]:
somelist = [" '//twitter.com/ltsharrypotter/status/984475138933579782',", '//t.co/yacazn2t0h',
            "dk_mok", '70+hour', 'much|1|0|4|', 'collection|1|0|3|',"20",]
pattern = """\/?\/?twitter.com/.+|
\/?\/?t.co\/?.+|  
_|
\d+|
\|d\|\d\|\d|
"""
for word in somelist:
  word = re.sub(pattern,"",word)
  print(word)

 '
//t.co/yacazn2t0h
dk_mok
70+hour
much|1|0|4|
collection|1|0|3|
20

In [6]:
token2index_dict = {"OOV":0}
index2token_dict = {0:"OOV"}
for index,token in enumerate(tokens):
  token2index_dict[token] = index+1
  index2token_dict[index+1] = token

In [7]:
def token2index_function(dict,sent):
  result_sent = []
  for token in sent.split(" "):
    result_sent.append(dict.get(token,0))
  return result_sent


def index2token_function(dict,index):
  return dict.get(index,"OOV")

In [8]:
#make the sentences same-lengthed 
#find the max length
max_length = 0
for sent in range(len(df)):
  try:
    words = nltk.word_tokenize(df.iloc[sent]["text"])
  except Exception as e:
    print(df.iloc[sent]["text"])
  if len(words) > max_length:
    max_length = len(words)

nan
nan
nan
nan
nan

In [9]:
vector = [1,2,3,4,5,6,7,8]
def same_lengther(vector,max_length):
  zeros = np.zeros(max_length - len(vector))
  vector.extend(zeros)
  return vector

In [33]:
#define X and y
X = []
y = []
X_vector = []


for i in range(len(df)):
  feature = df["text"].iloc[i]
  label = int(df["depressed"].iloc[i])

  try:
    feature_vector = token2index_function(token2index_dict,feature)
    X_vector.append(same_lengther(feature_vector,max_length))
    y.append(label)
    X.append(feature)
  except Exception as e:
    print(i)

534
727
979
1019
1242

In [38]:
X_vector = np.array(X_vector).astype("float32")
y = np.array(y).astype("float32")

X_vector.shape,y.shape
y = pd.get_dummies(y)

In [ ]:
tf.random.set_seed(666)
model1 = tf.keras.Sequential()
model1.add(tf.keras.layers.Dense(128,activation="relu"))
model1.add(tf.keras.layers.Dense(64,activation="relu"))
model1.add(tf.keras.layers.Dense(32,activation="relu"))
model1.add(tf.keras.layers.Dense(16,activation="relu"))
model1.add(tf.keras.layers.Dense(8,activation="relu"))
model1.add(tf.keras.layers.Dense(4,activation="relu"))
model1.add(tf.keras.layers.Dense(2,activation="sigmoid"))

model1.compile(loss=tf.keras.losses.BinaryCrossentropy(),
               optimizer=tf.keras.optimizers.Adam(),
               metrics=["accuracy"])

model1.fit(X_vector,y,epochs=100)

In [71]:
X_vector[np.random.choice(len(X_vector))]

array([   0., 2135.,    0., 3482., 2768.,    0.,    0., 1699.,    0.,
        918.,    0.,    0.,    0., 1183.,    0., 3840.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.], dtype=float32)

1521